<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="4">DATABASE CONTAINS</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="4">Products</th>
          <td>
          <%= link_to @total_products, admin_products_path %>
          </td>
        </tr>
        <tr>
          <th colspan="4">Categories</th>
          <td>
          <%= link_to @total_categories, admin_categories_path %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  
</section>